@import 'macro-css';
@import "variables";


html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  max-width: $window-width;
  width: 100%;
  margin: 0 auto;

  &--full {
    max-width: $window-full-width;
  }
}

.wrapper {
  display: flex;
  padding: 0 30px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 680px;
}
.leftSide {
  height: 50vh;
  transition: .2s;
  position: sticky;
  top: 60px;
  left: 0;
   &.hidden {
    transform: translateX(-120%);
  }
}

.defaultButton {
  background: #0d7bcd;
  font-weight: 400;
  color: #f2f2f2;
  font-size: 16px;
  &:hover {
    background: #0d7bcd;
  }
}

.recommends{
  width: 640px;
  margin: 0 auto;
}

.hideComment {
  display: none;
}

.cdx-loader{
  display: none !important;
}
.codex-editor__loader {
  display: none !important;
}